xlist=[]
for i in range(5):
    xlist.append('X_{}'.format(i))

xlist

myVars=globals()

myVars[xlist[0]]=19

X_0

In [ ]:
'''
import numpy as np
from scipy.optimize import minimize

def objective(x):
    return x[0]*x[3]*(x[0]+x[1]+x[2])+x[2]

def constraint1(x):
    return x[0]*x[1]*x[2]*x[3]-25.0

def constraint2(x):
    sum_eq = 40.0
    for i in range(4):
        sum_eq = sum_eq - x[i]**2
    return sum_eq

# initial guesses
n = 4
x0 = np.zeros(n)
x0[0] = 1.0
x0[1] = 5.0
x0[2] = 5.0
x0[3] = 1.0

# show initial objective
print('Initial SSE Objective: ' + str(objective(x0)))

# optimize
b = [1.0,5.0]
bnds = [b, b, b, b]
con1 = {'type': 'ineq', 'fun': constraint1}
con2 = {'type': 'eq', 'fun': constraint2}
cons = ([con1,con2])
solution = minimize(objective,x0,method='SLSQP',\
                    bounds=bnds,constraints=cons)
x = solution.x

# show final objective
print('Final SSE Objective: ' + str(objective(x)))

# print solution
print('Solution')
print('x1 = ' + str(x[0]))
print('x2 = ' + str(x[1]))
print('x3 = ' + str(x[2]))
print('x4 = ' + str(x[3]))
'''

In [1]:
import numpy as np
import pandas as pd
from scipy.optimize import minimize

In [2]:
n_supply=100
n_demand=4096

demand_set=pd.read_csv('Demand_Predictions.csv')
supply_set=pd.read_csv('exisiting_EV_infrastructure_2018.csv')
dist_mat=pd.read_csv('Distance_Matrix.csv')

dist_mat.to_numpy()

array([[53.14215611, 52.20883581, 51.27802958, ..., 45.52225335,
        45.78153919, 46.06108022],
       [68.38785811, 67.8544489 , 67.33166666, ..., 24.75540075,
        25.73241079, 26.71112248],
       [73.39766971, 72.77224371, 72.15525616, ..., 15.95179219,
        16.88316352, 17.8219737 ],
       ...,
       [41.81242567, 40.96146071, 40.11737262, ..., 48.39291434,
        48.92276036, 49.46714873],
       [56.71278449, 55.96843837, 55.23216692, ..., 31.44214632,
        32.04270174, 32.66283673],
       [19.37856861, 18.39424899, 17.41171648, ..., 72.91708351,
        73.49639816, 74.08468139]])

In [3]:
demand_set

,demand_point_index,x_coordinate,y_coordinate,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,0,0.5,0.5,0.352242,0.667932,0.958593,2.911901,4.338274,6.561995,8.454417,10.595324,13.119572,15.088540,16.925371
1,1,1.5,0.5,0.325940,0.591964,0.862652,2.589068,4.196034,5.745551,8.753195,11.126995,12.020091,13.453829,13.827596
2,2,2.5,0.5,0.373752,0.591890,0.969733,2.641432,3.541772,5.469161,8.414627,10.115336,14.018254,17.501605,21.635659
3,3,3.5,0.5,0.420686,0.584055,0.906547,2.378577,3.888121,5.846089,9.083868,12.424885,15.012302,18.674598,22.179762
4,4,4.5,0.5,0.475621,0.647940,0.981544,2.665400,4.218711,6.776609,8.851107,11.731131,16.355563,20.526166,25.623670
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4091,4091,59.5,63.5,0.171015,0.334565,0.556055,1.373291,1.837586,2.517146,3.352280,4.149888,5.426193,6.540436,7.850964
4092,4092,60.5,63.5,0.041716,0.061741,0.131291,0.386540,0.755846,0.941116,1.107797,1.309479,2.057450,2.459605,3.065697
4093,4093,61.5,63.5,0.100895,0.180352,0.296299,0.705373,1.300220,1.608609,1.822806,2.333681,3.218519,3.785937,4.543876
4094,4094,62.5,63.5,0.155353,0.290825,0.557803,1.516066,2.399426,2.719197,4.494515,6.096858,6.262574,7.283772,7.752700
4095,4095,63.5,63.5,0.209372,0.340185,0.749491,1.904285,2.775772,3.404641,4.574922,6.301078,6.860939,7.938740,8.711124

In [4]:
supply_set

,supply_point_index,x_coordinate,y_coordinate,total_parking_slots,existing_num_SCS,existing_num_FCS
0,0,50.163110,19.412014,23,5,3
1,1,37.336451,58.119225,27,4,7
2,2,46.709232,57.525650,31,6,14
3,3,30.528626,55.379835,26,5,5
4,4,51.521781,35.116755,32,11,6
...,...,...,...,...,...,...
95,95,45.471204,20.999414,24,3,4
96,96,30.318396,33.388335,32,5,10
97,97,36.218839,22.235766,32,4,14
98,98,42.936915,38.122442,28,7,5
99,99,19.590263,3.830284,24,2,11

In [5]:
demands19=demand_set['2019']

In [6]:
demands19

0       15.088540
1       13.453829
2       17.501605
3       18.674598
4       20.526166
          ...
4091     6.540436
4092     2.459605
4093     3.785937
4094     7.283772
4095     7.938740
Name: 2019, Length: 4096, dtype: float64

In [12]:
x_var_lst=[]
for i in range(4096):
    x_var_lst.append('X_{}'.format(i))
    
S_var_lst=[]
for i in range(100):
    S_var_lst.append('S_{}'.format(i))

F_var_lst=[]
for i in range(100):
    F_var_lst.append('F_{}'.format(i))

In [ ]:
type(objective)

In [13]:
myVars=globals()

In [10]:
lst=[]
for i in range(4096):
    lst.append(myVars[x_var_lst[i]])

KeyError: 'X_0'

In [ ]:
s_init=supply_set['existing_num_SCS']

In [ ]:
for i in range(100):
    myVars[S_var_lst[i]]=s_init[i]

In [ ]:
f_init=supply_set['existing_num_FCS']
for i in range(100):
    myVars[F_var_lst[i]]=f_init[i]

In [ ]:
x_var_lst

In [14]:
myVars[x_var_lst[0]]

KeyError: 'X_0'

In [3]:
a=np.array([float(a),float(b)],[float(x),float(y)])
b=np.array([5,6],[7,8])
np.multiply(a,b)

NameError: name 'a' is not defined

In [1]:
print('x=5')

x=5

In [2]:
x=5

In [1]:
x=5

In [3]:
x

5