In [1]:
import numpy as np
import pandas as pd

In [2]:
dsij_mat=pd.read_csv('DSij_Pyomo19.csv')

In [3]:
dsij_mat=dsij_mat.to_numpy()

In [4]:
dsij_mat

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [5]:
df=pd.DataFrame()

In [6]:
supply_lst=[]
demand_lst=[]
value_lst=[]
for j in range(4096):
    for i in range(100):
        supply_lst.append(int(i))
for i in range(4096):
    for j in range(100):
        demand_lst.append(int(i))

In [7]:
df['demand_point_index']=demand_lst
df['supply_point_index']=supply_lst

In [8]:
df

        demand_point_index  supply_point_index
0                        0                   0
1                        0                   1
2                        0                   2
3                        0                   3
4                        0                   4
...                    ...                 ...
409595                4095                  95
409596                4095                  96
409597                4095                  97
409598                4095                  98
409599                4095                  99

[409600 rows x 2 columns]

In [9]:
for i in range(4096):
    for j in range(100):
        value_lst.append(float(dsij_mat[j][i]))
df['value']=value_lst
df

        demand_point_index  supply_point_index  value
0                        0                   0    0.0
1                        0                   1    0.0
2                        0                   2    0.0
3                        0                   3    0.0
4                        0                   4    0.0
...                    ...                 ...    ...
409595                4095                  95    0.0
409596                4095                  96    0.0
409597                4095                  97    0.0
409598                4095                  98    0.0
409599                4095                  99    0.0

[409600 rows x 3 columns]

In [10]:
df.to_csv('Pyomo_dsij19.csv')